modules/rackspace-cloudservers/src/main/conf/flavors.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.rackspacecloud.com/servers/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://docs.rackspacecloud.com/servers/api/v1.0"
>
  <include schemaLocation="flavor.xsd" />
  <element name="flavors" type="csapi:Flavors" />

  <!-- Complex Types -->
  <complexType name="Flavors">
    <sequence>
      <element name="flavor" type="csapi:Flavor" minOccurs="0" maxOccurs="1000"/>
    </sequence>
  </complexType>

</schema>

