modules/rackspace-cloudservers/src/main/conf/images.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.rackspacecloud.com/servers/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://docs.rackspacecloud.com/servers/api/v1.0"
>
  <include schemaLocation="image.xsd" />
  <element name="images" type="csapi:Images" />

  <!-- Complex Types -->
  <complexType name="Images">
    <sequence>
      <element name="image" type="csapi:Image" minOccurs="0" maxOccurs="1000" />
    </sequence>
  </complexType>
</schema>

