modules/rackspace-cloudservers/src/main/conf/ipgroups.xsd

<schema
    elementFormDefault="qualified"
    attributeFormDefault="unqualified"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:csapi="http://docs.rackspacecloud.com/servers/api/v1.0"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://docs.rackspacecloud.com/servers/api/v1.0"
>
  <include schemaLocation="ipgroup.xsd" />
  <element name="sharedIpGroups" type="csapi:SharedIpGroups" />

  <!-- Complex Types -->
  <complexType name="SharedIpGroups">
    <sequence>
      <element name="sharedIpGroup" type="csapi:SharedIpGroup" minOccurs="0" maxOccurs="1000"/>
    </sequence>
  </complexType>

</schema>

